@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .main_width {
    max-width: 100%;
  }
  footer {
    margin-top: -150px;
    padding-top: 40px;
    background-color: #2f343f;
  }
  .main_footer {
    display: none;
  }
  .year {
    padding: 5px;
    background-color: #282c36;
  }
  .year span {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
  }
  .block_responsive .visa {
    margin-bottom: 20px;
    text-align: center;
  }
  .block_responsive .visa p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .email {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .email ul li {
    color: #fff;
  }
  .logo,
  .slider {
    text-align: center;
    width: 100%;
  }
  .logo .phone {
    margin-top: 5px;
  }
  .phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
  }
  .days_work,
  .phone {
    font-size: 13px;
    margin-top: 50px;
    color: #fff;
    background: url();
    padding-left: 0;
  }
  .block_responsive .phone ul li p {
    color: #fff;
  }
  .location ul li {
    color: #fff;
    font-size: 12px;
  }
  .days_work {
    margin-bottom: 40px;
    margin-top: 30px;
  }
  .nones {
    display: block;
  }
  .none {
    display: block;
    background: url('');
    padding-left: 0;
    text-align: center;
  }
  .container_main-menu {
    display: flex;
    flex-direction: column;
  }
  .main_container_menu {
    display: none;
  }
  .category_menu {
    display: none;
  }
  .back_slider {
    background: url('');
  }
  .slide {
    background: url('../img/slided_responsive.png') center;
    background-repeat: no-repeat;
  }
  .category .title {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .category .title span {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .title,
  .category .title,
  .catalog .title,
  .catalog_stock_section .title {
    background: url('');
    padding-left: 0px;
    text-align: center;
  }
  .title h1 img,
  .category .title h1 img,
  .catalog .title h1 img,
  .catalog_stock_section .title h1 img {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .buttons_next {
    display: none;
  }
  .buttons_next_copy {
    display: block;
    margin: 0 auto;
    width: 310px;
    margin-bottom: 10px;
  }
  .buttons_next_copy button {
    padding-left: 95px;
    padding-right: 95px;
  }
  .main_category,
  .block_catalog,
  .catalog_stock {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main_category .card_category,
  .block_catalog .card_category,
  .catalog_stock .card_category,
  .main_category .card_product,
  .block_catalog .card_product,
  .catalog_stock .card_product {
    margin-bottom: 30px;
  }
  .titles {
    width: 390px;
    margin: 0 auto;
  }
  .s1 {
    margin-top: -70px;
  }
  .banner {
    width: 400px;
    background: url('../img/img_.png') right;
    background-repeat: no-repeat;
    background-position-y: 98px;
    margin-bottom: 30px;
    background-color: #f8f8f8;
    padding-bottom: 200px;
    margin: 0 auto;
  }
  .banner .titles {
    margin-left: -20px;
  }
  .banner .titles ul li {
    font-size: 13px;
    font-weight: bold;
    color: #000;
  }
  .banner .titles ul li:first-child {
    line-height: 2.7em;
    margin-bottom: 15px;
    font-size: 13px;
  }
  .banner .titles ul li:first-child span {
    color: #193b90;
    font-size: 20px;
    margin-left: 0px;
  }
  .banner .titles ul li:last-child span {
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
  }
  .banner .titles ul li:nth-child(2) {
    background: url('../img/icon_ukraine.png') left;
    background-repeat: no-repeat;
    background-position-x: -5px;
  }
  .banner .titles ul li:nth-child(3) {
    background: url('../img/icon_tractor.png') left;
    background-repeat: no-repeat;
    background-position-x: -5px;
  }
  .banner .titles ul li:nth-child(2),
  .banner .titles ul li:nth-child(3) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .banner .titles ul li:nth-child(2),
  .banner .titles ul li:nth-child(3) {
    padding-left: 90px;
  }
  .background {
    background-color: #141d2b;
  }
}
@media screen and (max-width: 400px) {
  .card_category {
    width: 320px;
  }
  .line_category {
    width: 300px;
  }
  .banner {
    display: none;
    width: 320px;
    box-sizing: border-box;
  }
  .titles {
    width: 320px;
  }
  .pop-ap_window {
    width: 320px;
  }
  .main_menu_open .search input {
    width: 80%;
  }
}
@media screen and (max-width: 395px) {
  .button_still_copy span {
    padding-left: 79px;
    padding-right: 79px;
  }
  .banner {
    width: 310px;
  }
}
@media screen and (max-width: 343px) {
  .button_still_copy span {
    padding-left: 59px;
    padding-right: 59px;
  }
}
@media screen and (max-width: 308px) {
  .button_still_copy span {
    padding-left: 49px;
    padding-right: 49px;
  }
}
@media screen and (max-width: 321px) {
  .pop-ap_window {
    width: 280px;
  }
}
@media screen and (max-width: 335px) {
  .button_still span {
    padding-left: 89px;
    padding-right: 89px;
  }
  .banner {
    width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .card_category {
    margin: 0 auto;
    width: 300px;
  }
  .line_category {
    width: 270px;
  }
  .titles {
    margin: 0 auto;
    width: 280px;
  }
  .titles ul li {
    font-size: 11px;
    font-weight: bold;
    color: #000;
  }
  .titles ul li:first-child {
    line-height: 2.6em;
    margin-bottom: 15px;
    font-size: 13px;
  }
  .titles ul li:first-child span {
    color: #193b90;
    font-size: 20px;
    margin-left: 0px;
  }
  .buttons_copy span {
    padding-left: 59px;
    padding-right: 59px;
  }
  .buttons_copyS span {
    background-position-x: 5px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (max-width: 320px) {
  .buttons_copyS span {
    background-position-x: 6px;
    padding-left: 29px;
    padding-right: 29px;
  }
}
/*===CATALOG STYLEs===*/
@media screen and (max-width: 768px) {
	.none {
	  display: block;
	}
	.main_width {
	  width: 100%;
	}
	.main_content {
	  width: 100%;
	}
	.container_main {
	  display: none;
	}
	.category {
	  display: none;
	}
	.search-container {
	  display: none;
	}
	.main_block_content {
	  display: block;
	}
	footer {
	  padding-top: 40px;
	  text-align: center;
	  margin: 0 auto;
	}
	.phone {
	  margin: 0 auto;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	.phone ul li p {
	  color: #fff;
	}
	.year {
	  margin-top: 10px;
	  padding: 5px;
	  background-color: #282c36;
	}
	.year span {
	  display: flex;
	  margin-top: 5px;
	  flex-direction: column;
	}
	.email {
	  color: #fff;
	  margin-top: 20px;
	  margin-bottom: 50px;
	}
	.visa p {
	  margin: 0 auto;
	  font-weight: 0;
	  margin-bottom: 10px;
	  font-size: 14px;
	}
	.location {
	  margin-top: 40px;
	  margin-bottom: 40px;
	}
	.location ul li p {
	  color: #fff;
	}
	.days_work {
	  margin-top: 40px;
	}
	#nones {
	  display: block;
	}
	.phone,
	.days_work,
	.location {
	  color: #fff;
	  background: url();
	  width: 100%;
	  padding: 0;
	}
	.main_footer {
	  display: none;
	}
	.block_catalog {
	  display: block;
	}
	.sorting {
	  display: none;
	}
	.text-about {
	  padding: 0 10px 0 10px;
	  margin-bottom: 150px;
	  width: 470px;
	}
	.text-about h2 {
	  font-size: 25px;
	}
	.text-about p {
	  text-align: left;
	}
	.title {
	  display: none;
	}
	.card_product {
	  margin: 0 auto;
	}
	.block_sorting_responsive {
	  margin-top: 10px;
	  padding: 10px 5px 10px 5px;
	  border: 2px solid #f5f5f5;
	  border-radius: 4px;
	}
	.block_sorting_responsive ul {
	  display: flex;
	  justify-content: space-between;
	}
	.block_sorting_responsive ul .price_sort,
	.block_sorting_responsive ul .price_sort_ {
	  font-size: 12px;
	}
	.manafacturer-list,
	.power-list,
	.cylinders-list,
	.drive-unit-list,
	.track-list {
	  display: none;
	}
	.card_product {
	  margin-top: 40px;
	}
	.filter-block p {
	  margin-top: -20px;
	}
	.standart h3 {
	  margin: 0;
	}
	.standart i {
	  margin: 0;
	}
	.cabin {
	  border-bottom: none;
	  box-shadow: -1px 9px 25px -31px #000000 inset;
	  background-color: #fff;
	}
	.cabin h3 {
	  color: #193b90;
	}
	.cabin i {
	  color: #193b90;
	}
	.cabin-list {
	  background-color: #fff;
	}
	.button_still span {
	  padding-left: 79px;
	  padding-right: 79px;
	}
	.left-content {
	  margin: 0 auto;
	}
	.buttons_copyS {
	  margin-bottom: 40px;
	}
	.buttons_copyS span {
	  padding-left: 89px;
	  padding-right: 89px;
	}
	.nones{
	  display: block;
	}
  }
  @media screen and (max-width: 465px) {
	.text-about {
	  width: 450px;
	}
  }
  @media screen and (max-width: 448px) {
	.text-about {
	  width: 430px;
	}
  }
  @media screen and (max-width: 429px) {
	.text-about {
	  margin-bottom: 200px;
	  width: 410px;
	}
  }
  @media screen and (max-width: 415px) {
	.text-about {
	  margin-bottom: 250px;
	  width: 380px;
	}
	.text-about h2 {
	  font-size: 20px;
	}
  }
  @media screen and (max-width: 381px) {
	.text-about {
	  margin-bottom: 315px;
	  width: 320px;
	}
	.text-about p {
	  font-size: 15px;
	}
  }
  @media screen and (max-width: 365px) {
	.text-about {
	  margin-bottom: 310px;
	  width: 310px;
	}
	.text-about h2 {
	  font-size: 16px;
	}
	.buttons_copyS span {
	  background-position-x: 20px;
	  padding-left: 59px;
	  padding-right: 59px;
	}
  }
  @media screen and (max-width: 345px) {
	.text-about {
	  margin-bottom: 450px;
	  margin-bottom: 380px;
	  width: 280px;
	}
  }
  @media screen and (max-width: 334px) {
	.buttons_copyS span {
	  padding-left: 49px;
	  padding-right: 49px;
	}
	.buttons_copyS p {
	  font-size: 14px;
	}
  }
  @media screen and (max-width: 322px) {
	.buttons_copyS span {
	  padding-left: 49px;
	  padding-right: 49px;
	}
  }
  @media screen and (max-width: 295px) {
	.button_still span {
	  padding-left: 59px;
	  padding-right: 59px;
	}
	.button_still p {
	  font-size: 13px;
	}
  }
  @media screen and (max-width: 274px) {
	.button_still span {
	  padding-left: 39px;
	  padding-right: 39px;
	}
  }
  @media screen and (max-width: 400px){
	.main_menu_open .search input{
	  width: 70%;
	}
  }

  /*===CATALOG STYLEs===*/
  
/*==holy bones ;)===*/
  body {
	overflow-x: hidden;
}