* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main_width {
  width: 1170px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex_around {
  display: flex;
  justify-content: space-around;
}
.flex_betwen {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-right: 60px;
}
.menu {
  margin-bottom: 20px;
}
.menu ul {
  display: flex;
}
.menu ul li {
  font-size: 16px;
}
.menu ul li a {
	color: #1d2b39;
	font-size: 15px;
}
.menu ul li:not(:last-child) {
  margin-right: 40px;
  padding-left: 25px;
}
.menu ul li:last-child {
  padding-left: 47px;
}
.menu ul li:last-child a {
  border-bottom: 1px dashed #ff9c00;
  color: #ff9c00;
}
.menu ul li:nth-child(2) {
  padding-left: 34px;
}
.menu ul li:nth-child(1) {
  background: url('../img/icon.png');
  background-repeat: no-repeat;
  background-position-x: 1px;
}
.menu ul li:nth-child(2) {
  background: url('../img/icon1.png');
  background-repeat: no-repeat;
  background-position-x: 1px;
}
.menu ul li:nth-child(3) {
  background: url('../img/icon2.png');
  background-repeat: no-repeat;
  background-position-x: 1px;
}
.menu ul li:nth-child(4) {
  background: url('../img/icon3.png');
  background-repeat: no-repeat;
  background-position-x: 1px;
}
.menu ul li:nth-child(5) {
  background: url('../img/icon4.png');
  background-repeat: no-repeat;
  background-position-x: 1px;
}
.menu ul li:nth-child(6) {
  background: url('../img/message.png');
  background-repeat: no-repeat;
  background-position-x: 15px;
}
.search {
	margin-right: 40px;
	position: relative;
	margin-top: 20px;
}
.search input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 13px;
  outline: none;
  border: 1px solid #eef2f4;
  border-radius: 5px;
  padding-right: 100px;
  color: #9b9b9b;
}
.search button {
	height: 48px;
	width: 35px;
	background: url('../img/search.png') center;
	background-repeat: no-repeat;
	cursor: pointer;
	outline: none;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	
}
.phone {
  background: url('../img/phone.png') center;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 20px;
  margin-left: -38px;
  padding-left: 70px;
}
.phone ul li a {
  color: #333333;
}
.phone ul li:not(:first-child) {
  margin-top: 15px;
}
.days_work {
  background: url('../img/settings_icon.png') center;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 50px;
  padding-left: 100px;
}
.days_work ul li a {
  color: #333333;
}
.days_work ul li:not(:first-child) {
  margin-top: 15px;
}
.location {
  background: url('../img/icon_location.png') center;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 50px;
  padding-left: 100px;
}
.location ul li {
  color: #333333;
}
.location ul li:not(:first-child) {
  margin-top: 15px;
}
.location ul li:last-child {
  font-size: 14px;
  color: #9b9b9b;
}
.basket {
  overflow: hidden;
  background: url('../img/basket.png') left;
  background-repeat: no-repeat;
  background-position-x: 5px;
  margin-left: 93px;
  transition: all .4s;
  padding: 3px;
  border: 1px solid #f4f5f6;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
}
.basket img {
  margin-top: 5px;
}
.basket span {
  padding-left: 45px;
  padding-right: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.basket span:first-child {
  margin-top: 6px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px;
}
.basket span:last-child {
  color: #9b9b9b;
  padding-bottom: 5px;
}
.basket:hover {
  background: url('../img/basket_active.png') left;
  background-repeat: no-repeat;
  background-position-x: 5px;
  transition: all .4s;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.phone,
.days_work,
.basket,
.location {
  margin-top: 15px;
}
.line {
  width: 100%;
  background-color: #f4f5f6;
  height: 1px;
}
.category_menu {
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
  transition: all .4s;
  box-shadow: 0px 15px 8px -10px #082366;
  background-color: #193b90;
}
.category_menu ul {
  display: flex;
  justify-content: space-between;
}
.category_menu ul li {
  font-size: 15px;
  font-weight: bold;
}
.category_menu ul li a {
  color: #ffffff;
}
.category_menu ul li a:hover {
  color: #ff9c00;
  transition: all .4s;
}
.slide {
  height: 380px;
  background: url('../img/slide.png') center;
  background-repeat: no-repeat;
  background-position-x: 0px;
}
.element_pages {
  height: 20px;
  width: 20px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}
.element_pages:not(:last-child) {
  margin-right: 10px;
}
.element_pages:hover {
  cursor: pointer;
}
.pages {
  position: relative;
  top: -35px;
  display: flex;
  justify-content: center;
}
.actvie_pages {
  background-color: #ffffff;
}
.slider_main {
  background: url('../img/bg_slider.png') center;
  background-repeat: no-repeat;
  background-position-y: 30px;
}
.title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 67px;
  background: url('../img/icon_category.png');
  background-repeat: no-repeat;
  background-position-y: 6px;
}
.title h1 {
  font-size: 21px;
  color: #000000;
}
.next_catalog {
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.buttons_next button {
  margin-top: 13px;
  color: #ffffff;
  background-color: #193b90;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 4px;
  outline: none;
}
.buttons_next button:hover {
  cursor: pointer;
}
.buttons_next button span {
  padding-left: 10px;
  font-size: 20px;
}
.buttons_next_copy {
  display: none;
}
.buttons_next_copy button {
  margin-top: 13px;
  color: #ffffff;
  background-color: #193b90;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 95px;
  padding-right: 95px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 0 auto;
}
.buttons_next_copy button:hover {
  cursor: pointer;
}
.buttons_next_copy button span {
  padding-left: 10px;
  font-size: 20px;
}
.card_category {
  margin-bottom: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: all .4s;
  border-radius: 6px;
  height: 203px;
  width: 350px;
}
.card_category p span {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card_category p span:first-child {
  margin-bottom: 10px;
  padding-top: 80px;
}
.card_category p span:first-child a {
  transition: all .4s;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  color: #193b90;
}
.card_category p span:last-child {
  font-size: 14px;
  color: #b3b6b9;
  font-weight: 100;
}
.card_category:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transition: all .4s;
  cursor: pointer;
}
.card_category:hover p span:first-child a {
  color: #ff9c00;
  transition: all .4s;
  text-decoration: none;
}
.oneBlock_category .card_category:first-child {
  background: url('../img/card_product.png') left;
  background-repeat: no-repeat;
  background-position-x: -10px;
}
.oneBlock_category .card_category:first-child:hover {
  transition: all .4s;
  background: url('../img/card_product_active.png') left;
  background-repeat: no-repeat;
  background-position-y: -26px;
  background-position-x: -25px;
}
.oneBlock_category .card_category:nth-child(2) {
  background: url('../img/card_product1.png') left;
  background-position-x: -8px;
  background-repeat: no-repeat;
}
.oneBlock_category .card_category:nth-child(2):hover {
  transition: all .4s;
  background: url('../img/card_product1_active.png') left;
  background-repeat: no-repeat;
  background-position-x: -16px;
}
.oneBlock_category .card_category:nth-child(3) {
  background: url('../img/card_product2.png') left;
  background-position-x: -8px;
  background-repeat: no-repeat;
}
.oneBlock_category .card_category:nth-child(3):hover {
  transition: all .4s;
  background: url('../img/card_product2_active.png') left;
  background-repeat: no-repeat;
  background-position-x: -16px;
}
.twoBlock_category .card_category:first-child {
  background: url('../img/card_product3.png') left;
  background-position-x: -8px;
  background-repeat: no-repeat;
}
.twoBlock_category .card_category:first-child:hover {
  transition: all .4s;
  background: url('../img/card_product3_active.png') left;
  background-repeat: no-repeat;
  background-position-x: -16px;
}
.twoBlock_category .card_category:first-child .to_line {
  margin-top: 57px;
}
.twoBlock_category .card_category:nth-child(2) {
  background: url('../img/card_product4.png') left;
  background-position-x: -8px;
  background-repeat: no-repeat;
}
.twoBlock_category .card_category:nth-child(2):hover {
  transition: all .4s;
  background: url('../img/card_product4_active.png') left;
  background-repeat: no-repeat;
  background-position-x: -16px;
}
.twoBlock_category .card_category:nth-child(3) {
  background: url('../img/card_product5.png') left;
  background-position-x: -8px;
  background-repeat: no-repeat;
}
.twoBlock_category .card_category:nth-child(3):hover {
  transition: all .4s;
  background: url('../img/card_product5_active.png') left;
  background-repeat: no-repeat;
  background-position-x: -16px;
}
.twoBlock_category .card_category:nth-child(3) .to_line {
  margin-top: 57px;
}
.to_line {
  margin-top: 77px;
  position: relative;
  z-index: -100;
}
.line_category {
  background-color: #fbfbfb;
  width: 320px;
  height: 5px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 auto;
}
.catalog .title {
  background: url('../img/icon_catalog.png');
  background-repeat: no-repeat;
  background-position-y: 6px;
  margin-bottom: 40px;
}
.card_product {
  transition: all .4s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 270px;
  padding-bottom: 30px;
}
.card_product .name_product {
  text-align: center;
  padding-top: 210px;
}
.card_product .name_product b span {
	display: block;
	color: #333333;
	text-decoration: underline;
	height: 50px;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 5px;
}
.card_product .name_product b span:first-child {
  margin-bottom: 5px;
}
.card_product .name_product b span:last-child {
  margin-bottom: 5px;
}
.card_product .name_product .manufacture {
  color: grey;
  text-decoration: underline;
  display: block;
  margin-top: 15px;
}
.card_product .buy_price {
  text-align: center;
  margin-top: 35px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #f9f9f9;
}
.card_product .buy_price span {
  display: block;
}
.card_product .buy_price .price {
  color: #193b90;
  font-size: 18px;
  font-weight: bold;
}
.card_product .buy_price .in_garbage {
  margin-top: 25px;
  margin-bottom: 25px;
}
.card_product .buy_price .in_garbage span {
  background: url('../img/icon_basket.png') center;
  background-repeat: no-repeat;
  background-position-x: 50px;
  color: #ffffff;
  width: 246px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #193b90;
  outline: none;
  border: none;
  border-radius: 4px;
}
.card_product .buy_click {
  transition: all .4s;
  text-align: center;
  margin-top: 30px;
}
.card_product .buy_click span {
  padding-left: 61px;
  color: #ff9c00;
  padding-right: 61px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  border: 2px solid #e9e9e9;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}
.card_product:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all .4s;
}
.card_product:hover .name_product b span {
  text-decoration: none;
  color: #ff9c00;
  transition: all .4s;
}
.card_product:hover .buy_click span {
  border: 2px solid #ff9c00;
  transition: all .4s;
}
.event {
  position: absolute;
  z-index: 2;
  padding-top: 20px;
  padding-left: 10px;
}
.event span {
  border-radius: 4px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 10px;
  background-color: #1eb044;
}
.new {
  background: url('../img/icon_new.png') left;
  background-repeat: no-repeat;
  background-position-y: 13px;
  background-position-x: 5px;
}
.stockE {
  background: url('../img/icon_stock.png') left;
  background-repeat: no-repeat;
  background-position-y: 11px;
  background-position-x: 5px;
}
.hit {
  background: url('../img/icon_hit.png') left;
  background-repeat: no-repeat;
  background-position-y: 13px;
  background-position-x: 5px;
}
.one {
  /*background: url('../img/catalog_card.png');*/
  background-repeat: no-repeat;
}
.two {
  background: url('../img/catalog_card1.png');
  background-repeat: no-repeat;
}
.three {
  background: url('../img/catalog_card2.png');
  background-repeat: no-repeat;
}
.four {
  background: url('../img/catalog_card3.png');
  background-repeat: no-repeat;
}
.stock {
  font-size: 14px;
  color: #eb133c;
  text-decoration: line-through;
}
.block_catalog {
  margin-bottom: 30px;
}
.reload {
  margin-right: 10px;
}
.button_still {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
  transition: all .4s;
}
.button_still span {
  overflow: hidden;
  font-size: 16px;
  color: #193b90;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 99px;
  padding-right: 99px;
  transition: all .4s;
  border: 2px solid #193b90;
  border-radius: 4px;
}
.button_still:hover span {
  color: #ffffff;
  background-color: #193b90;
  transition: all .4s;
  cursor: pointer;
}
.button_still_copy {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
  transition: all .4s;
}
.button_still_copy span {
  overflow: hidden;
  font-size: 16px;
  color: #193b90;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 99px;
  padding-right: 99px;
  transition: all .4s;
  border: 2px solid #193b90;
  border-radius: 4px;
}
.block_catalog {
  display: flex;
  justify-content: space-between;
}

.catalog_stock_section .title {
  background: url('../img/icon_stock_catalog.png') left;
  background-repeat: no-repeat;
  background-position-y: 5px;
}
.catalog_stock {
  margin-top: 30px;
  margin-bottom: 130px;
  display: flex;
  justify-content: space-between;
}
.navigation_main .logo {
  margin-right: 110px;
}
.navigation .phone,
.navigation .days_work {
  margin-right: 50px;
}
.navigation .phone,
.navigation .days_work,
.navigation .location {
  margin-top: 30px;
}
.navigation_main {
  padding-top: 10px;
  background-color: #ffffff;
  padding-bottom: 10px;
  box-shadow: 0px -11px 30px -10px rgba(0, 0, 0, 0.5);
}
.block_content {
  width: 360px;
}
.block_content p {
  font-size: 15px;
  color: #ffffff;
  line-height: 2em;
}
.block_content p:first-child {
  margin-bottom: 15px;
}
.block_content .full_description {
  margin-bottom: 40px;
  margin-top: 15px;
}
.block_content .full_description a {
  color: #ff9c00;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px dashed #ff9c00;
}
.block_content .full_description i {
  margin-left: 5px;
}
.block_content .buttons {
  margin-bottom: 30px;
}
.block_content .buttons span {
	background: url('../img/icon_message.png') left;
	background-repeat: no-repeat;
	background-position-x: 90%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 9px;
	padding-right: 89px;
	border-radius: 5px;
	background-color: #ff9c00;
	cursor: pointer;
}
.block_content .buttons span a {
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
}
.main_footer {
  background-color: #2f343f;
}
.main_footer .containers__ {
  padding-top: 20px;
  padding-bottom: 30px;
}
.first {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 25px;
}
.block_ul ul li:not(:first-child),
.block_ul-two ul li:not(:first-child) {
  margin-bottom: 15px;
  color: #a6abb6;
  font-size: 14px;
}
.to {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 15px;
}
.block_ul-three ul:first-child {
  margin-bottom: 40px;
}
.si {
  color: #ffffff;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.email {
  color: #e38e08;
  font-size: 16px;
}
.main_end {
  padding-top: 20px;
  padding-bottom: 3px;
  background-color: #282c36;
}
.visa {
  margin-top: -13px;
}
.visa p {
  color: #ffffff;
  font-family: 'arial', sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin-top: 13px;
  margin-right: 20px;
}
.year p {
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #a6abb6;
}
.banner {
  background: url('../img/bg_banner.png') center;
  background-repeat: no-repeat;
  
  margin-bottom: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
}
.banner .titles ul li {
  line-height: 1.9em;
  font-size: 17px;
  font-weight: bold;
  color: #333333;
}
.banner .titles ul li:first-child {
  margin-bottom: 25px;
  font-size: 20px;
}
.banner .titles ul li:first-child span {
  color: #193b90;
  font-size: 30px;
}
.banner .titles ul li:last-child span:not(:nth-child(3)) {
  display: flex;
  flex-direction: column;
}
.banner .titles ul li:nth-child(2) {
  background: url('../img/icon_ukraine.png') left;
  background-repeat: no-repeat;
  background-position-x: -5px;
}
.banner .titles ul li:nth-child(3) {
  background: url('../img/icon_tractor.png') left;
  background-repeat: no-repeat;
  background-position-x: -5px;
}
.banner .titles ul li:nth-child(2),
.banner .titles ul li:nth-child(3) {
  padding-top: 15px;
  padding-bottom: 15px;
}
.banner .titles ul li:nth-child(2),
.banner .titles ul li:nth-child(3) {
  padding-left: 100px;
}
.container_main-menu {
  display: flex;
  justify-content: center;
}
.none {
  display: none;
}
.main_category {
  display: flex;
  justify-content: space-between;
}
.responsive_menu {
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  background-color: #193b90;
}
.responsive_menu .icon_menu i,
.responsive_menu .search_basket_icon i {
  font-size: 25px;
  margin-top: 3px;
}
.responsive_menu .search_basket_icon {
  display: flex;
}
.responsive_menu .search_basket_icon i {
  margin-top: 5px;
  margin-right: 10px;
}
.responsive_menu .search_basket_icon img {
  margin-top: 3px;
}
.buttons_copyS {
  margin-bottom: 30px;
}
.buttons_copyS span {
  background: url('../img/icon_message.png') left;
  background-repeat: no-repeat;
  background-position-x: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 89px;
  padding-right: 89px;
  border-radius: 5px;
  background-color: #ff9c00;
  cursor: pointer;
}
.buttons_copyS span a {
  color: #ffffff;
  border-bottom: 1px dashed #ffffff;
}
.hover_menu {
  opacity: 0;
  margin-top: -1000px;
  z-index: 1000;
  transition: all .6s;
  position: absolute;
  box-shadow: 0px 8px 63px -23px #000000;
}
.one_block_menu_hover {
  margin-top: -24px;
  padding-top: 45px;
  padding-bottom: 95px;
  width: 500px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}
.one_block_menu_hover ul li {
  color: #333333;
  font-weight: bold;
  padding-bottom: 30px;
}
.one_block_menu_hover ul li a{
	color: #333333;
	font-weight: bold;
	padding-bottom: 30px;
  }
.one_block_menu_hover ul li  i {
  color: #ff9c00;
  margin-right: 5px;
}
.two_block_menu_hover {
  box-shadow: 17px 8px 35px -23px #000000;
  z-index: 1000;
  position: absolute;
  left: 500px;
  margin-top: -24px;
  padding-top: 42px;
  padding-bottom: 30px;
  width: 670px;
  background-color: #f4f5f6;
}
.two_block_menu_hover p {
  margin-left: 20px;
  color: #193b90;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 30px;
}
.two_block_menu_hover ul li {
  color: #333333;
  font-weight: bold;
  padding-bottom: 20px;
}
.two_block_menu_hover ul li a {
	color: #333333;
	font-weight: bold;
	padding-bottom: 20px;
  }
.two_block_menu_hover ul li i {
  color: #bfd9f3;
  margin-right: 5px;
}
.active_hover-menu {
  margin-top: 0px;
  opacity: 1;
  transition: all .6s;
}
.main_pop-ap_window {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: -1100;
  left: 0;
  padding-top: 50px;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  margin-top: -3000px;
}
.pop-ap_window {
	width: 370px;
	height: auto;
	margin: 0 auto;
	background-color: #ffffff;
	padding-bottom: 10px;
}
.pop-ap_window i {
  float: right;
  padding-top: 22px;
  padding-right: 20px;
  color: #dedede;
  font-size: 18px;
  cursor: pointer;
}
.pop-ap_window h3 {
  color: #193b90;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 20px;
}
.pop-ap_window .description {
  font-weight: bold;
  color: #333333;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 15px;
}
.pop-ap_window .enter_name {
  margin-bottom: 15px;
}
.pop-ap_window .enter_phone {
  margin-bottom: 40px;
}
.pop-ap_window .enter_phone,
.pop-ap_window .enter_name {
  padding-left: 10px;
  background-color: #fdfdfd;
  outline: none;
  border-radius: 5px;
  border: 1px solid #dddddd;
  width: 268px;
  height: 43px;
}
.pop-ap_window form p {
  color: #333333;
  font-size: 16px;
  margin-bottom: 5px;
}
.pop-ap_window form button {
	font-size: 17px;
	color: #ffffff;
	background-color: #193b90;
	font-weight: bold;
	/* padding-left: 100px; */
	/* padding-right: 100px; */
	/* padding-bottom: 16px; */
	/* padding-top: 16px; */
	outline: none;
	border: none;
	border-radius: 5px;
	letter-spacing: 1px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 80%;
}
.width-pop-ap {
  width: 277px;
  margin: 0 auto;
}
.active-pop_ap {
  opacity: 1;
  margin-top: 0px;
  transition: all .6s;
  position: absolute;
  z-index: 1100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.responsive_menu-open {
	width: 100%;
	position: absolute;
	top: 0;
}
.main_menu_open {
  z-index: 9999;
  opacity: 0;
  transition: all .5s;
  position: absolute;
  top: -1115px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  width: 100%;
  height: 950px;
  margin: 0 auto;
  background-color: #141d2b;
}
.main_menu_open .search {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.main_menu_open .search input {
  margin: 0 auto;
  width: 90%;
}
.main_menu_open .list_category ul li {
  margin-top: 20px;
  text-align: none;
  color: #fff;
  font-size: 14px;
}
.main_menu_open .list_category ul li i {
  font-size: 10px;
}
.main_menu_open .buttons_copyS {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: -40px;
}
.main_menu_open .buttons_copyS span {
  padding-left: 40px;
  padding-right: 40px;
  background-position-x: 5px;
}
.main_menu_open .phone {
  text-align: center;
}
.main_menu_open .phone ul li p {
  color: #fff;
}
.main_menu_open .days_work {
  text-align: center;
}
.main_menu_open .email {
  margin-bottom: 0px;
  text-align: center;
}
.main_menu_open .location ul li:last-child {
  margin-top: 5px;
  margin-bottom: 20px;
}
.nones {
  display: none;
}
.icon_menu i:last-child {
	display: none;
	margin-top: -15px;
}
.active_responsive-menu {
	transition: all .5s;
	z-index: 100;
	opacity: 1;
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px;
	width: 100%;
	height: 950px;
	margin: 0 auto;
}
/*===CATALOG STYLEs===*/
.main_block_content{
	display: flex;
	justify-content: space-between;
  }
  /* left-content start*/
.left-content {
	width: 270px;
  }
  .left-menu {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #1B398F;
	width: 270px;
  }
  .bar-button { 
	width: 3rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	z-index: 1500;
	padding-left: 18px;
  }
  .bar {
	background: #fff;
	height: 2px;
	border-radius: .8rem;
  }
  .bar.start {
	width: 90%;
	align-self: center;
  }
  .bar.center {
	width: 60%;
	align-self: center;
	margin-top: 4px;
  }
  .bar.end {
	width: 20%;
	align-self: center;
	margin-top: 4px;
  }
  .left-menu__text p{
	color: #fff;
	font-size: 1rem;
	padding-left: 15px;
  }
  /* Поисковой блок */
  .search-container {
	background: #F5F5F5;
	width: 270px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .left-search {
	position: relative;
	width: 90%;
  }
  .left-search input, button {
	border: none;
	outline: none;
	border-radius: 3px;
  }
  .left-search input {
	width: 100%;
	height: 42px;
	border: 1px solid #EBEBEB;
	padding-left: 30px;
	background: url('../img/search-icon.png') center left;
	background-repeat: no-repeat;
	background-position-x: 10px;
  }
  .left-search button {
	height: 26px;
	width: 26px; 
	position: absolute;
	top: 8px;
	right: 8px;
	background: #717FA4;
	cursor: pointer;
	background: url('../img/angle-left.png') center;
	background-repeat: no-repeat;
  }
  /* Ползунок */
  .filter-block {
	width: 270px;
	height: 132px;
	background: #F9F9F9;
  }
  .filter-block h3 {
	padding: 22px 0 22px 18px;
  }
  #xf_price {
	width: 80%;
	margin: 0 auto;
	border: none;
  }
  .filter-block p {
	padding: 10px 0 0 30px;
  }
  .filter-block p label {
	padding-left: 18px;
  }
  .ui-slider.ui-slider-horizontal {
	  background: #CDCDCD;
	  height:5px;
	  border-radius: 0;
	  border: none;
  }
  .ui-slider .ui-slider-handle {
	  box-shadow: 0 0 0 4px #333333;
	  border-radius: 100%;
	  margin-right: 10px;
	  font-size: 7px;
	  margin-top: 0px;
  }
  .ui-slider .ui-slider-range {
	  background: #ffa61a;
	  height:4px;
  }
  /* Вертикальный ползунок */
  .ui-slider.ui-slider-vertical {
	  background: #CDCDCD;
	  width: 5px;
  }
  #slider-vertical {
	float: right;
	height: 315px;
	margin-top: 20px;
	margin-right: 10px;
	border: none;
	border-radius: 0;
  }
  .ui-slider-vertical .ui-slider-handle {
	  left: -0.22em;
	  margin-left: 0;
	  margin-bottom: -.6em;
  }
  /* Standart for left-navber */
  .standart {
	display: flex;
	justify-content: space-between;
	height: 57px;
	width: 270px;
	background: #F9F9F9;
	border-top: 1px solid #F1F1F1;
	/*border-bottom: 4px solid #EAEAEA;*/
	box-shadow: 0px 1px 16px -12px #000000 inset;
  }
  .standart h3 {
	padding-left: 15px;
	font-size: 1rem;
  }
  .standart i {
	padding-right: 18px;
  }
  /* прячем input checkbox */
  input[type="checkbox"] {
	display: none;
  }
  form label {
	color: #333;
	cursor: pointer;
	font-weight: normal;
	margin-bottom: 30px;
	vertical-align: middle;
	font-size: 14px;
  }
  .margin-top {
	height: 8px;
  }
  .top {
	height: 13px;
  }
  form label:before {
	content: "";
	color: #333;
	display: inline-block;
	margin-left: 20px;
	margin-right: 16px;
	position: relative;
	top: -5px;
	text-align: center;
	text-indent: 0px;
	width: 13px;
	height: 13px;
	background: #FFF;
	border: 1px solid #e3e3e3;
	border-image: initial;
	vertical-align: middle;
	border-radius: 2px;
  }
  input:checked + label:before {
	content: '';
	background: url(../img/check.png) center;
	background-repeat: no-repeat;
	border: 1px solid #193B90;
  }
  input:disabled + label:before {
	color: #193B90;
  }
  /* Производитель */
  .manafacturer-list {
	height: 366px;
	width: 270px;
	background: #F9F9F9;
	overflow-y: scroll;
}
  /* мощность */
  .power-list {
	height: 240px;
	width: 270px;
	background: #F9F9F9;
	overflow-y: scroll;
}
  /* количество цилиндров */
  .cylinders-list {
	height: 100px;
	width: 270px;
	background: #F9F9F9;
	overflow-y: scroll;
}
  /* привод */
  .drive-unit-list {
	height: 70px;
	width: 270px;
	background: #F9F9F9;
  }
  /* регулируемая копия */
  .track-list {
	height: 70px;
	width: 270px;
	background: #F9F9F9;
  }
  /* кабина */
  .cabin-list {
	height: 70px;
	width: 270px;
	background: #F9F9F9;
  }
  /* Сброс параметров */
  .reset {
	height: 60px;
	width: 270px;
	background: #F9F9F9;
	/* border-top: 6px solid #F1F1F1; */
	color: #EB133C;
	font-weight: 600;
	font-size: 13px;
	box-shadow: 0px 1px 10px -15px #000000 inset;
	margin-bottom: 30px;
}
  .reset i{
	font-size: 15px;
  }
  .fa-times {
	padding: 21px 9px 0 26px;
  }
  .reset p {
	display: inline;
  }
  /* Текст в конце страницы */
  .text-about {
	width: 870px;
	height: 380px;
  }
  .text-about h2 {
	margin-bottom: 25px;
  }
  .text-about p {
	line-height: 29px;
	margin-bottom: 25px;
  }
  .text-about .more {
	color: #ff9c00;
	font-weight: bold;
	border-bottom: 2px dotted #ff9c00;
	margin-bottom: 35px;
	cursor: pointer;
  }

  .text-about .complete {
	display:none;
  }
  /* left-content end */

  .main_content {
	width: 870px;
	margin: 0 auto;
  }

  .sorting{
	padding: 10px 15px 10px 15px;
	border: 2px solid #f5f5f5;
	border-radius: 4px;
  }
  .sorting ul li{
	cursor: pointer;
	margin: 0 20px;
	padding-top: 5px;
	padding-bottom: 5px;
  }
  .sorting{
	margin-bottom: 50px;
  }
  .sort{
	font-weight: bold;
  }
  .price_sort{
	font-size: 16px;
	color: #ff9c00;
  }
  
  .price_sort_{
	color: #a1a1a1;
  }
  .sort_active{
	background-color: #ffa61a;
	color: #fff;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
  }
  .all_sort{
	background-color: #f5f5f5;
	color: #898989;
	padding: 10px 5px 10px 5px;
	border-radius: 4px;
  }
  .sorts_{
	background-color: #f5f5f5;
	color: #898989;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
  }
  .flex_align-center {
	display: flex;
	align-items: center;
  }
/*===CATALOG STYLEs===*/

.searchpage {
	width: 100%;
	display: block;
	padding: 10px;
	margin: 10px auto;
}
.block_catalog_srch {
	display: inline-block;
	justify-content: space-between;
	
}
.search_result {
	display: inline-block;
	margin: 10px .8%;
}
/*==MAIN FILTER==*/

.filter-value {
	position: absolute;
	top: 25px;	
	font-weight: bold;
}
.filter-value.val2 {
	top: -25px;
}
.filter-value::after {
	content: "грн";
	margin-left: 5px;
	font-size: 11px;
	font-weight: 100;
}